
.dv{
	color:green;
	width: 400px;
	height: 200px;
	background-color: blueviolet;
	}
	.dv1{
	color: green;
	background-color: black;
	width: 400px;
	height: 200px;
	
	}
	p{
		color: blue;
		width:400px;
		height: 400px;
		background-color: chocolate;
	}